/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
	margin: 0;
	padding: 0;
	font-family: "config", sans-serif;
}
html {
	width: 100%;
}
a {
	color: var(--light-color);
	/* display: inline-flex; */
}
nav a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
button {
	border-style: none;
	display: inline-block;
	height: auto;
	margin: 5px;
	padding: 1rem;
	font-weight: bolder;
	width: auto;
	font-size: 1.5rem;
}
ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0rem;
	text-transform: uppercase;
	font-family: "config-header", sans-serif;
}
/* primary button */
main button:nth-last-of-type(1) { 
	background-color: white ;
}
/* Secondary button */
main button:nth-last-of-type(2) {
	background-color: #f06414;
	color: white;
}

button, summary {
	cursor: pointer;
}
@font-face {
	font-family: "config-header";
	src: url(../fonts/Config-Sans-Font-Family/Demo_Fonts/Fontspring-DEMO-config-bold.otf);
}
@font-face {
	font-family: "config";
	src: url(../fonts/Config-Sans-Font-Family/Demo_Fonts/Fontspring-DEMO-config-regular.otf);
}

@font-face {
	font-family: "noodle";
	src: url(../fonts/bignoodletitling/big_noodle_titling.ttf);
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--light-text-color: #FFFFFFB3;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* NAVIGATIE */
ul > li {
	display: inline-flex;
}
nav:nth-of-type(1) {
	background-color: rgba(229, 235, 244, 0.8);
	height: 3.5rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
	padding: 1rem;
}
nav:nth-of-type(1) > ul {
	position: relative;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
nav:nth-of-type(1) ul li {
	width: auto;
	height: auto;
}
nav:nth-of-type(1) > ul > li > button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	width: auto;
	margin: 0;
}
nav:nth-of-type(1) > ul li:nth-of-type(2) {
	width: 3rem;
}
/* navbar background darkener: rgba(0,0,0,0.5); */
#hbm-container {
	position:fixed;
	display:flex;
	flex-direction: column;
	width: 85%;
	height: 100%;
	left:0;
	top:0;
	background-color: #ebeff4;
	overflow: auto;
	transform:translatex(-100%);
	transition: transform .3s;
	padding: 0rem 0.5rem;
}
#hbm-container.toonMenu {
  transform:translatex(0);
}

#hbm-container header {
	height: 3.5rem;
	width: 100%;
	display: flex;
	flex-direction: row;
}
#hbm-container header ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
}
#hbm-container header ul li {
	display: flex;
	justify-content: center;
}
#hbm-container header ul li:nth-of-type(2) {
	flex: 1;
	display: flex;
	justify-content: center;
	transform: translateX(-1.5rem);
}
#hbm-container header ul li:nth-of-type(2) img {
	width: 5rem;
}
#hbm-container header ul li button {
	background-color: rgba(0,0,0,0.05);
	border-radius: 5px;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
}
#hbm-container header ul li button img {
	width: 1.5rem;
}
nav:nth-of-type(1) section > ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0.75rem;
}
nav:nth-of-type(1) section > ul li {
	display: flex;
	align-items: center;
	font-weight: 900;
	font-size: larger;
	min-height: 3rem;
	width: 100%;
	border: 1px solid red;
}
nav:nth-of-type(1) section > ul li:last-of-type {
	justify-content: center;
	background-color: #f06414;
	border-radius: 10px;
	color: white;
}
#hbm-container footer {
	display: flex;
	background-color: rgba(0,0,0,0.05);
}
#hbm-container footer ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0.75rem;
}
#hbm-container footer ul li {
	display: flex;
	align-items: center;
	font-weight: 900;
	font-size: larger;
	min-height: 3rem;
	width: 100%;
	border: 1px solid red;
}
/* dekstop nav */
nav:nth-of-type(2) {
	display: none;
}
/* HEADER LANDING-PAGE VIDEO */
body > header {
	background-color:rgba(27,31,79,.3);
	height: 95vh;
	display: flex;
	justify-content: center;
	z-index: 1;
}
body > header > section {
	margin: auto;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	height: 50vh;
	padding: 2rem;
}
body > header > section > img {
	width: 35%;
	margin: auto;
}
body > header section h2 {
	font-family: "noodle", sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 2.3rem;
}
body > header section button {
	margin: 2rem auto;
	background-color: #f06414;
	color: white;
	font-weight: bolder;
	padding: 1.5rem 2.5rem;
}
body > header section button + section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	height: auto;
}
body > header section button + section img {
	height: 3rem;
	width: 3rem;
}
body > header video {
	position: absolute; 
	padding-top: 3.5rem;
	z-index: -1;
	object-fit: cover;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: black;
}
body > header > img:nth-of-type(1) {
	display: flex;
	position: absolute; 
	padding-top: 3.5rem;
	z-index: -1;
	object-fit: cover;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: black;
}
body > header > img:nth-of-type(2), header > img:nth-of-type(3) {
	display: none;
}
/* MAIN CONTENT VAN DE PAGINA */
main {
	background-color: lightblue;
	height: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
main > article {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/background-image.jpg);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}
main > article > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2.5rem;
}
main > article > section > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2.5rem 0rem 0rem 0rem;
}
main > article:nth-of-type(2) {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/background-image2.jpg);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: white;
}
main > article > section:nth-of-type(1) > a {
	background-color: #f06414;
	color: white;
}
main > article > img {
	margin: 0rem 2.5rem 3rem 2.5rem;
	border-radius: 0.2rem;
	border: 1px solid #FFFFFFB3;
}
/* FOOTER */
main + footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: radial-gradient(31.74% 3046.23% at 50% 49.81%,#242a42 0,#121524 100%);
	color: white;
	width: 100%;
}
main + footer section {
	width: 100%;
}
main + footer section ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}
main + footer section ul li {
	color: hsla(0,0%,100%,0.7);
	display: flex;
	margin: 0.2rem;
	padding: 0px 5px;
	border-right: 1px solid hsla(0,0%,100%,0.7);
}
main + footer section img {
	width: 3rem;
	margin: auto;
}
main + footer section figure{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}
hr {
	margin: 1rem;
	border-color: hsla(0,0%,100%,0.7);
}
/* === Pagina 2 === */
/* Carosuel code mobile */
#header-pagina2 {
	background-color: rgba(27,31,79,.3);
    height: 95vh;
    display: flex;
    justify-content: center;
	align-items: flex-end;
    z-index: 1;
}
#header-pagina2 > section {
	margin: 0;
	width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    height: 50vh;
    padding: 0.5rem;
}
#header-pagina2 > section > section > ul {
	display: flex;
	align-items: center;
	padding: 0.8rem 0rem;
}
#header-pagina2 > section > section > ul > li {
	padding: 0.5rem;
}
#header-pagina2 > section > section > ul > li:nth-of-type(1) {
	background-color: hsla(0,0%,100%,.3);
	border-radius: 50%;
}
#header-pagina2 > section > section > ul > li > p {
	color: hsla(0,0%,100%,.7);
}
#header-pagina2 > section > section > ul > li > img {
	width: 1.5rem;
}
main > .carousel-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	background-image: url(../images2/carousel-bg.webp);
	color: white;
}
main > .carousel-wrapper > .carousel-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-behavior: smooth;
	scrollbar-width: none;
	height: 25rem;
	color: black;
}
main > .carousel-wrapper > .carousel-container > .carousel-item {
	display: flex;
	flex-direction: column-reverse;
	border: 2px solid white;
	border-radius: 0.2rem;
	margin: 0.5rem;
	overflow: hidden;
	background-color: hsla(0,0%,100%,.9);
	width: 45%;
}
main > .carousel-wrapper > .carousel-container > .carousel-item > section:nth-of-type(1) {
	background-color: hsla(0,0%,100%,.9);
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}
main > .carousel-wrapper > .carousel-container > .carousel-item > section:nth-of-type(2) {
	width: 100%;
	background-image: url(../images2/hero-bg.webp);
	height: auto;
}
main > .carousel-wrapper > .carousel-container > .carousel-item > section:nth-of-type(2) > img {
	/* width: 100%; */
}
main > .carousel-wrapper > .carousel-container > .carousel-item > section:nth-of-type(1) > img:nth-of-type(1) {
	width: 1.6rem;
}
/* ========================= */
/* === MEDIA QUERIES === */
/* ========================= */
@media only screen and (min-width: 992px) {
	h1, h2 {
		font-size: 3.75rem;
		font-weight: 700;
		line-height: 66px;
	}
	p {
		font-size: 1.25rem;
		font-weight: 500;
	}
	/* mobile nav */
	nav:nth-of-type(1) {
		display: none;
	}
	/* desktop nav */
	nav:nth-of-type(2) {
		background-color: rgba(229, 235, 244, 0.8);
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: fixed;
		width: 98%;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 1rem;
		border-radius: 8px;
		height: 4.5rem;
		padding: 0.5rem;
	}
	nav:nth-of-type(2) > ul {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(1) {
		width: 7%;
		background-color: hsla(0,0%,100%,0.7);
		height: 130%;
		border-radius: 8px 0px 0px 8px;
		margin: -1rem;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(2) {
		width: 73%;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(3) {
		width: 20%;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(1) > ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(1) > ul li a img {
		width: 5rem;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(2) > ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(3) > ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	nav:nth-of-type(2) > ul li {
		font-weight: bolder;
		font-size: 18px;
		height: 100%;
		display: flex;
		align-items: center;
	}
	nav:nth-of-type(2) > ul li ul {
		height: 100%;
		width: 100%;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(2) > ul li{
		margin: 0rem 1.5rem;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(3) > ul li {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(3) > ul li img {
		vertical-align: middle;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(3) > ul {
		display: flex;
		justify-content: flex-end;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(3) > ul li {
		margin: 0rem 1.5rem;
	}
	nav:nth-of-type(2) > ul > li:nth-of-type(3) > ul li:last-of-type {
		justify-content: center;
		background-color: #f06414;
		border-radius: 10px;
		color: white;
		padding: 0rem 1.5rem;
	}
	/* desktop header pagina 1 */
	body > header section {
		height: 100%;
	}
	body > header > section > img {
		width: 35%;
		margin: auto auto 0 auto;
	}
	body > header section h2 {
		font-family: "noodle", sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: 4rem;
		line-height: 70px;
	}
	body > header > video {
		position: absolute; 
		padding-top: 0vh;
		z-index: -1;
		object-fit: cover;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
	body > header section button + section {
		display: none;
	}
	body > header section button + section + section {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
		height: auto;
		margin-top: 15%;
	}
	body > header section button + section + section img {
		height: 2rem;
		width: auto;
	}
	/* desktop main */
	main {
		background-color: lightblue;
		height: auto;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	main > article {
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		width: 100%;
		padding: 0rem 10rem;
		/* height: 70vh; */
	}
	main > article:nth-of-type(2) {
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		color: white;
		flex-flow: row-reverse;
	}
	main > article > section {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 3rem 0rem;
		width: 45%;
		padding: 0rem;
	}
	main > article section > section {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 2.5rem 0rem 0rem 0rem;
	}
	main > article > img {
		margin: 3rem 2.5rem;
		width: 55%;
	}
	/* FOOTER DESKTOP */
	main + footer {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: radial-gradient(31.74% 3046.23% at 50% 49.81%,#242a42 0,#121524 100%);
	}
	main + footer article {
		height: auto;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	main + footer article section ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		flex-wrap: wrap;
	}
	main + footer article section ul li {
		display: flex;
		margin: 0.2rem;
	}
	main + footer article img {
		width: 3rem;
		margin: auto;
	}
	main + footer article figure {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
	}
	hr {
		margin: 1rem;
	}
	/* desktop header pagina 2 */
	header > img:nth-of-type(3) {
		display: flex;
		position: absolute; 
		padding-top: 0rem;
		z-index: -1;
		object-fit: cover;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: black;
	}
	header > img:nth-of-type(1), header > img:nth-of-type(2) {
		display: none;
	}
	#header-pagina2 {
		background-color: rgba(27,31,79,.3);
		height: 95vh;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		z-index: 1;
	}
	#header-pagina2 > section {
		margin: 5vw;
		width: 50%;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		text-align: left;
		height: 50vh;
		padding: 0;
	}
	#header-pagina2 > section > section > ul {
		display: flex;
		align-items: center;
		padding: 0.8rem 0rem;
	}
	#header-pagina2 > section > section > ul > li {
		padding: 0.5rem;
	}
	#header-pagina2 > section > section > ul > li:nth-of-type(1) {
		background-color: hsla(0,0%,100%,.3);
		border-radius: 50%;
	}
	#header-pagina2 > section > section > ul > li > p {
		color: hsla(0,0%,100%,.7);
	}
	#header-pagina2 > section > section > ul > li > img {
		width: 1.5rem;
	}
	/* Carosuel code desktop pagina 2 */
	main > .carousel-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		align-items: center;
		padding: 3rem;
	}
	main > .carousel-wrapper > .carousel-container {
		width: 80%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: nowrap;
		align-items: center;
		overflow: hidden;
		height: auto;
	}
	main > .carousel-wrapper > .carousel-container > .carousel-item {
		display: flex;
		flex-direction: column-reverse;
		border: 2px solid white;
		margin-right: 0rem 1rem;
		justify-content: center;
		align-items: center;
		background-color: white;
		border-radius: 0.2rem;
	}
	main > .carousel-wrapper > .carousel-container > .carousel-item > section:nth-of-type(1) {
		background-color: hsla(0,0%,100%,.9);
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
  }

